

.twentytwenty-container {
    height: 960px;
    width: 640px;
    position: absolute;
    top:0px;
    left:0px;
}

.fadeout {
    animation: fadeout 0.5s forwards linear;
    -webkit-animation: fadeout 0.5s forwards linear;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}

.fadeout-delay {
    animation: fadeout 0.5s forwards linear;
    -webkit-animation: fadeout 0.5s forwards linear;
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#frame-3 {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}


.fadeIn{
    animation: fadein 0.5s forwards linear;
    -webkit-animation: fadein 0.5s forwards linear;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}

.fadeIn-delay {
    animation: fadein 0.5s forwards linear;
    -webkit-animation: fadein 0.5s forwards linear;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}

@keyframes fadein {
    0% { 
        opacity: 0; 
        visibility: hidden; 
    }
    100% { 
        opacity: 1; 
        visibility: visible; 
    }
}





.drag-notice{
    position: absolute;
    left: 46%;
    top:84%;
    /* animation: drag-notice 0.5s infinite linear; */
}

@keyframes drag-notice {
    0% {
        transform: translateX(-1px);
    }

    40% {
        transform: translateX(3px);
    }

    80%,
    100% {
        transform: translateX(-1px);
    }
}

.twentytwenty-after-label,
.twentytwenty-before-label {
    visibility: hidden;
}


