.twentytwenty-container {
    height: 100%;
    width: 100%;
    
}

.fadeout {
    animation: fadeout 0.5s forwards linear;
    -webkit-animation: fadeout 0.5s forwards linear;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.frame-3 {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}


.fadeIn{
    animation: fadein 0.5s forwards linear;
    -webkit-animation: fadein 0.5s forwards linear;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}

@keyframes fadein {
    0% { 
        opacity: 0; 
        visibility: hidden; 
    }
    100% { 
        opacity: 1; 
        visibility: visible; 
    }
}

.twentytwenty-after-label,
.twentytwenty-before-label {
    visibility: hidden;
}


